// _spacing.scss

$spacing-rel: 1em;
$spacing-sm-rel: .5em;
$spacing-md-rel: 2em;

$spacing: 8px;
$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-sm: 6px;
$spacing-md: 10px;
$spacing-lm: 14px;
$spacing-lg: 16px;
$spacing-xxl: 40px;

$toolbar-height: 45px;

$modal-row-height: 54px;