// userstyle.scss

@use "sass:map";

@use 'theme' as thm;
@use "fonts" as fnt;
@use "colors" as clr;
@use "spacing" as sp;
@use './components/components.buttons' as btn;

#rendered-md, body, th, td {
  background: map.get(map.get(clr.$colors, thm.$theme), window-bg-color) !important;
  font-family: fnt.$font-family !important;
  font-size: fnt.$font-size !important;
}

p, ul, ol, li, em, strong {
  color: map.get(map.get(clr.$colors, thm.$theme), fg-3) !important;
}

hr {
  border: none;
  border-bottom: 1px solid map.get(map.get(clr.$colors, thm.$theme), fg-5) !important;
  margin: 2.5em 0 !important;
}

/* ==================
   HEADINGS
   ================== */

h1 {
  color: map.get(map.get(clr.$colors, thm.$theme), fg-1) !important;
  border-bottom: 1px solid map.get(map.get(clr.$colors, thm.$theme), rendered-hr-color)  !important;
  font-size:fnt.$font-size-lg;
  font-weight:fnt.$font-weight-boldest !important;
}

h2 {
  color: map.get(map.get(clr.$colors, thm.$theme), fg-2) !important;
  border-bottom: 1px solid map.get(map.get(clr.$colors, thm.$theme), rendered-hr-color) !important;
  font-size: fnt.$font-size-md;
  font-weight: fnt.$font-weight-bold!important;
}

h3, h4, h5, h6 {
  color: map.get(map.get(clr.$colors, thm.$theme), fg-2) !important;
  border-bottom: 0 !important;
  font-size: fnt.$font-size;
  font-weight: fnt.$font-weight-bold!important;
}

/* ==================
   LINKS
   ================== */

a {
  color: map.get(map.get(clr.$colors, thm.$theme), blue-1) !important;
  text-decoration: underline !important;
}

a:hover {
  text-decoration: underline !important;
}

/* Joplin icon in Joplin link */
.resource-icon {
  background: map.get(map.get(clr.$colors, thm.$theme), purple-1) !important;
}

/* ==================
   CODE BLOCK
   ================== */

pre, .hljs {
  border-radius: btn.$btn-radius !important;
  padding: sp.$spacing-md sp.$spacing-lg !important;
}

/* Inline code */
.inline-code {
  background: map.get(map.get(clr.$colors, thm.$theme), bg-3) !important;
  border: none !important;
  border-radius: sp.$spacing-xs !important;
  color: map.get(map.get(clr.$colors, thm.$theme), fg-2) !important;
  font-family: fnt.$font-family-monospace!important;
  font-size: .95em !important;
  padding: .16em .4em .2em !important;
}

/* ==================
   BLOCKQUOTE
   ================== */

blockquote {
  background: map.get(map.get(clr.$colors, thm.$theme), blockquote-bg-color) !important;
  padding: sp.$spacing-lg !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: sp.$spacing-sm solid map.get(map.get(clr.$colors, thm.$theme), bg-2) !important;
  opacity: 1 !important;

  p {
    color: map.get(map.get(clr.$colors, thm.$theme), fg-3) !important;
  }
}

/* ==================
   TODO: TABLES
   ================== */

th {
  border: 1px solid map.get(map.get(clr.$colors, thm.$theme), rendered-hr-color)  !important;
  color: map.get(map.get(clr.$colors, thm.$theme), fg-1) !important;
  border-bottom: 1px solid map.get(map.get(clr.$colors, thm.$theme), rendered-hr-color)  !important;
}

td {
  border: 1px solid map.get(map.get(clr.$colors, thm.$theme), rendered-hr-color)  !important;
  color: map.get(map.get(clr.$colors, thm.$theme), fg-1) !important;
  border-bottom: 1px solid map.get(map.get(clr.$colors, thm.$theme), rendered-hr-color)  !important;
}

/* ==================
   HIGHLIGHTING
   ================== */

::selection {
  background: map.get(map.get(clr.$colors, thm.$theme), note-bg-selected)  !important;
  color: map.get(map.get(clr.$colors, thm.$theme), fg-1) !important;
}

mark, mark strong {
  background: map.get(map.get(clr.$colors, thm.$theme), yellow-1) !important;
  color: map.get(map.get(clr.$colors, thm.$theme), fg-1) !important;
}

/* Highlighted searched item */
mark[data-markjs] {
  background: map.get(map.get(clr.$colors, thm.$theme), purple-1) !important;
}

/* ==================
   PLUGINS
   ================== */

// CodePerfect (https://joplinapp.org/plugins/plugin/jl15988.JoplinCodePerfectPlugin/) */

// Set code block background, border radius, font style and spacing
.code-perfect-container pre.hljs {
  background: map.get(map.get(clr.$colors, thm.$theme), view-bg-color) !important;
  padding: 0 0 0 32px !important;
}

.code-perfect-container pre.hljs code {
  border-radius: btn.$btn-radius !important;
  margin: 0 0 0 8px !important;
  padding: .5em .5em .17em !important;
}

.code-perfect-container pre.hljs code.hljs,
.code-perfect-container pre.hljs ul.hljs-line-num {
  background: map.get(map.get(clr.$colors, thm.$theme), view-bg-color) !important;
  color: map.get(map.get(clr.$colors, thm.$theme), fg-5) !important;
  font-family: fnt.$font-family-monospace !important;
  font-size: fnt.$font-size !important;
}

// Apply colors to elements in code block
.code-perfect-container pre.hljs span {
  color: map.get(map.get(clr.$colors, thm.$theme), fg-3) !important;
}

.code-perfect-container pre.hljs code.hljs .hljs-keyword,
.code-perfect-container pre.hljs code.hljs .hljs-literal {
  color: map.get(map.get(clr.$colors, thm.$theme), lavender-1) !important;
}

.code-perfect-container pre.hljs code.hljs .hljs-built_in,
.code-perfect-container pre.hljs code.hljs .hljs-title.function_ {
  color: map.get(map.get(clr.$colors, thm.$theme), fg-4) !important;
}

.code-perfect-container pre.hljs code.hljs .hljs-operator {
  color: map.get(map.get(clr.$colors, thm.$theme), red-1) !important;
}

.code-perfect-container pre.hljs code.hljs .hljs-string,
.code-perfect-container pre.hljs code.hljs .hljs-number{
  color: map.get(map.get(clr.$colors, thm.$theme), green-1) !important;
}

.code-perfect-container pre.hljs code.hljs .hljs-type,
.code-perfect-container pre.hljs code.hljs .hljs-title.class_ {
  color: map.get(map.get(clr.$colors, thm.$theme), blue-1) !important;
}

.code-perfect-container pre.hljs code.hljs .hljs-variable,
.code-perfect-container pre.hljs code.hljs .hljs-params {
  color: map.get(map.get(clr.$colors, thm.$theme), fg-4) !important;
}

.code-perfect-container pre.hljs code.hljs .hljs-meta {
  color: map.get(map.get(clr.$colors, thm.$theme), teal-1) !important;
}

.code-perfect-container pre.hljs code.hljs .hljs-comment {
  color: map.get(map.get(clr.$colors, thm.$theme), fg-4) !important;
}

// Color for the code not covered above
.code-perfect-container pre.hljs code.hljs {
  color: map.get(map.get(clr.$colors, thm.$theme), fg-3) !important;
}

// Adjust line number position and set color 
.code-perfect-container pre.hljs ul.hljs-line-num {
  padding: 1em 8px !important;
  border-right: none !important;
}

.code-perfect-container pre.hljs ul.hljs-line-num li {
  color: map.get(map.get(clr.$colors, thm.$theme), fg-5) !important;
}

// Github Alerts (https://discourse.joplinapp.org/t/plugin-github-alerts/42902)

// Apply colors to callouts
.markdown-alert.markdown-alert-warning {
  border-left-color: map.get(map.get(clr.$colors, thm.$theme), yellow-1) !important;
  > .markdown-alert-title {
    color: map.get(map.get(clr.$colors, thm.$theme), yellow-1) !important;
  }
}

.markdown-alert.markdown-alert-important {
  border-left-color: map.get(map.get(clr.$colors, thm.$theme), purple-1) !important;
  > .markdown-alert-title {
    color: map.get(map.get(clr.$colors, thm.$theme), purple-1) !important;
  }
}

.markdown-alert.markdown-alert-tip {
  border-left-color: map.get(map.get(clr.$colors, thm.$theme), red-1) !important;
  > .markdown-alert-title {
    color: map.get(map.get(clr.$colors, thm.$theme), red-1) !important;
  }
}

.markdown-alert.markdown-alert-note {
  border-left-color: map.get(map.get(clr.$colors, thm.$theme), blue-1) !important;
  > .markdown-alert-title {
    color: map.get(map.get(clr.$colors, thm.$theme), blue-1) !important;
  }
}

.markdown-alert.markdown-alert-caution {
  border-left-color: map.get(map.get(clr.$colors, thm.$theme), red-1) !important;
  > .markdown-alert-title {
    color: map.get(map.get(clr.$colors, thm.$theme), red-1) !important;
  }
}

/* ==================
   PRINT VERSION
   ================== */

@media print {
  #rendered-md, body, th, td {
    background: map.get(map.get(clr.$colors, light), bg-1) !important;
    font-family: fnt.$font-family !important;
  }

  p, ul, ol, li {
    color: map.get(map.get(clr.$colors, light), fg-2) !important;
  }

  strong {
    color: map.get(map.get(clr.$colors, light), fg-2) !important;
    }

  th {
    border: 1px solid map.get(map.get(clr.$colors, light), fg-3) !important;
    color: map.get(map.get(clr.$colors, light), bg-2) !important;
    border-bottom: 1px solid map.get(map.get(clr.$colors, light), fg-3) !important;
  }

  td {
    border: 1px solid map.get(map.get(clr.$colors, light), fg-3) !important;
    color: map.get(map.get(clr.$colors, light), bg-2) !important;
    border-bottom: 1px solid map.get(map.get(clr.$colors, light), fg-3) !important;
  }

  h1 {
    border-bottom: 1px solid map.get(map.get(clr.$colors, light), rendered-hr-color) !important;
    color: map.get(map.get(clr.$colors, light), fg-1) !important;
    font-weight: fnt.$font-weight-bold!important;
  }

  h2 {
    border-bottom: 1px solid map.get(map.get(clr.$colors, light), rendered-hr-color) !important;
    color: map.get(map.get(clr.$colors, light), fg-1) !important;
  }

  h2, h3, h4, h5, h6 {
    border-bottom: 0 !important;
    font-weight: fnt.$font-weight-bold!important;
    color: map.get(map.get(clr.$colors, light), fg-2) !important;
  }

  hr {
    border: none;
    border-bottom: 1px solid map.get(map.get(clr.$colors, light), rendered-hr-color) !important;
    margin: 2.5em 0 !important;
  }

  a {
    color: map.get(map.get(clr.$colors, light), blue-1) !important;
    text-decoration: underline !important;
  }

  pre, .hljs {
    background: map.get(map.get(clr.$colors, light), view-bg-color) !important;
    color: map.get(map.get(clr.$colors, light), fg-2) !important;
    font-family: fnt.$font-family-monospace!important;
    padding: 10px !important;
    font-size: sp.$spacing-lm !important;
    overflow: scroll !important;
  }

  blockquote {
    background: map.get(map.get(clr.$colors, light), bg-1) !important;
    padding: 10px !important;
    color: map.get(map.get(clr.$colors, light), fg-2) !important;
    font-style: italic !important;
    border: 0 !important;
    border-left: 5px solid map.get(map.get(clr.$colors, light), charcoal-blue-1) !important;
  }

  .inline-code {
    background: map.get(map.get(clr.$colors, thm.$theme), bg-3) !important;
    border: none !important;
    border-radius: sp.$spacing-xs !important;
    color: map.get(map.get(clr.$colors, thm.$theme), fg-2) !important;
    font-family: fnt.$font-family-monospace!important;
    font-size: .95em !important;
    padding: .16em .4em .2em !important;
  }

  .code-perfect-container pre.hljs code.hljs,
  .code-perfect-container pre.hljs ul.hljs-line-num {
    background: map.get(map.get(clr.$colors, light), view-bg-color) !important;
  }

  .code-perfect-container pre.hljs ul.hljs-line-num li {
    color: map.get(map.get(clr.$colors, light), fg-5) !important;
  }
}