/* Style for rendered Markdown */
:root {
    /* Colors */
    --blue-1: #99c1f1;
    --teal-1: #94d9cb;
    --green-1: #8ff0a4;
    --yellow-1: #f9f06b;
    --orange-1: #ffbe6f;
    --red-1: #f66151;
    --purple-1: #dc8add;
    --lavender-1: #a18ee0;

    --light-1: #ffffff;
    --light-2: #f6f5f4;
    --light-3: #deddda;
    --light-4: #c0bfbc;
    --light-5: #9a9996;

    --dark-1: #77767b;
    --dark-2: #5e5c64;
    --dark-3: #3d3846;
    --dark-4: #241f31;
    --dark-5: #000000;
    
    --window-bg-color: #222226;
    --view-bg-color: #1d1d20;
    --card-bg-color: rgb(255 255 255 / 8%);
    
    --sidebar-bg-color: #2e2e32;
    --sidebar-backdrop-color: #28282c;
    
    --secondary-sidebar-bg-color: #28282c;
    --secondary-sidebar-backdrop-color: #252529;

    --separator-color: hsl(240, 1.59%, 31.5%);
    --separator-color-darker: hsl(240, 1.59%, 23.5%);

    --icon-color: #BFBFC2;
    
    /* Fonts */
    --font-family: "Adwaita Sans";
    --font-family-mono: "Hack Nerd Font";
    --font-size: 11pt;
    --font-size-md: 13pt;
    --font-size-lg: 15pt;

    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --font-weight-boldest: 700;

    --icon-size-regular: 12pt;

    /* Buttons */
    --btn-bg-color: hsl(240, 3.08%, 25.49%);
    --btn-bg-color-hover: hsl(240, 3.08%, 28.49%);

    --btn-bg-color-primary: hsl(212.91, 76.42%, 55.1%);
    --btn-bg-color-primary-hover: hsl(212.91, 76.42%, 58.1%);

    --btn-separator-color: hsl(240, 2.5%, 31.37%);

    --btn-bg-color-light: hsl(240, 2.9%, 24.06%);
    --btn-bg-color-light-hover: hsl(240, 2.9%, 27.06%);
    --btn-bg-color-light-selected-hover: hsl(240, 2.9%, 30.06%);

    /* Notes */
    --note-bg-hover: hsl(240, 4.76%, 22.47%);
    --note-bg-selected: hsl(213.21, 43.08%, 25.49%);
    --note-bg-selected-hover: hsl(213.21, 43.08%, 28.49%);

    /* Lists */
    --list-item-height: 35px !important;

    /* Borders */
    --border-radius: 8px;
    --btn-pill-border-radius: 32px;
    --scroll-radius: 12px;

    /* Spacing */
    --spacing-sm: 4px;
    --spacing-md: 6px;
    --spacing-lg: 12px;
    --btn-height: 35px;
    --btn-padding: 1.1em;
    --btn-toolbar-height: 32px;
    --btn-toolbar-width: 33px;
  }
  
  #rendered-md, body, th, td {
    background-color: var(--window-bg-color) !important;
    font-family: var(--font-family) !important;
    font-size: var(--font-size) !important;
  }
  
  p, ul, ol, li, em, strong {
    color: var(--light-3) !important;
  }
  
  hr {
    border: none;
    border-bottom: 1px solid var(--light-5) !important;
    margin: 2.5em 0 !important;
  }
  
  /* Scrollbar */
  ::-webkit-scrollbar {
    background-color: var(--window-bg-color) !important;
    width: 10px !important;
  }

  ::-webkit-scrollbar:hover {
    background-color: var(--sidebar-bg-color) !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--btn-bg-color) !important;
    border-radius: var(--scroll-radius) !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--btn-bg-color-hover) !important;
    border: none !important;
  }
  
  /*********************************************************************************
  * TITLES
  *********************************************************************************/
  
  h1 {
    color: var(--light-1) !important;
    border-bottom: 1px solid var(--separator-color) !important;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-boldest) !important;
  }
  
  h2 {
    color: var(--light-2) !important;
    border-bottom: 1px solid var(--separator-color-darker) !important;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold) !important;
  }
  
  h3, h4, h5, h6 {
    color: var(--light-2) !important;
    border-bottom: 0 !important;
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold) !important;
  }
  
  /*********************************************************************************
  * LINKS
  *********************************************************************************/
  
  a {
    color: var(--blue-1) !important;
    text-decoration: underline !important;
  }
  
  a:hover {
    text-decoration: underline !important;
  }
  
  /* Joplin icon in Joplin link */
  .resource-icon {
    background-color: var(--purple-1) !important;
  }
  
  /*********************************************************************************
  * CODE BLOCK
  *********************************************************************************/
  
  pre, .hljs {
    border-radius: var(--border-radius) !important;
    padding: var(--spacing-md) var(--spacing-lg) !important;
  }
  
  /* Inline code */
  .inline-code {
    background-color: var(--btn-bg-color-light) !important;
    border: none !important;
    border-radius: 4px;
    color: var(--light-3) !important;
    font-family: var(--font-family-mono) !important;
    font-size: .95em !important;
    padding: .16em .4em .2em !important;
  }
  
  /*********************************************************************************
  * BLOCKQUOTE
  *********************************************************************************/
  
  blockquote {
    background-color: var(--card-bg-color) !important;
    padding: 10px !important;
    color: var(--light) !important;
    font-size: 14px !important;
    font-style: italic !important;
    border: 0 !important;
    border-left: 5px solid var(--dark-1) !important;
  }
  
  /*********************************************************************************
  * TABLES
  *********************************************************************************/
  
  th {
    border: 1px solid var(--separator-color) !important;
    color: var(--light-1) !important;
    border-bottom: 1px solid var(--separator-color) !important;
  }
  
  td {
    border: 1px solid var(--separator-color) !important;
    color: var(--light-1) !important;
    border-bottom: 1px solid var(--separator-color) !important;
  }
  
  /*********************************************************************************
  * HIGHLIGHTING
  *********************************************************************************/
  
  ::selection {
    background-color: var(--note-bg-selected) !important;
    color: var(--light-1) !important;
  }
  
  mark, mark strong {
    background: var(--yellow-1) !important;
    color: var(--light-1) !important;
  }
  
  /* Highlighted searched item */
  mark[data-markjs] {
    background-color: var(--purple-1) !important;
  }
  
  /*********************************************************************************
  * PLUGINS
  *********************************************************************************/
  
  /* CodePerfect (https://joplinapp.org/plugins/plugin/jl15988.JoplinCodePerfectPlugin/) */

  /* Set code block background, border radius, font style and spacing */
  .code-perfect-container pre.hljs {
    background-color: var(--view-bg-color) !important;
    border-radius: var(--border-radius) !important;
    padding: 0 0 0 32px !important;
  }

  .code-perfect-container pre.hljs code.hljs,
  .code-perfect-container pre.hljs ul.hljs-line-num {
    background: var(--view-bg-color) !important;
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size) !important;
  }

  .code-perfect-container pre.hljs code {
    margin: 0 0 0 8px !important;
    padding: .5em .5em .17em !important;
  }

  .code-perfect-container pre.hljs ul.hljs-line-num {
    border-radius: 0 !important;
  }

  /* Apply colors to elements in code block */
  .code-perfect-container pre.hljs span {
    color: var(--light-5) !important;
  }

  .code-perfect-container pre.hljs code.hljs .hljs-keyword,
  .code-perfect-container pre.hljs code.hljs .hljs-literal {
    color: var(--lavender-1) !important;
  }

  .code-perfect-container pre.hljs code.hljs .hljs-built_in,
  .code-perfect-container pre.hljs code.hljs .hljs-title.function_ {
    color: var(--orange-1) !important;
  }

  .code-perfect-container pre.hljs code.hljs .hljs-operator {
    color: var(--red-1) !important;
  }

  .code-perfect-container pre.hljs code.hljs .hljs-string,
  .code-perfect-container pre.hljs code.hljs .hljs-number{
    color: var(--green-1) !important;
  }

  .code-perfect-container pre.hljs code.hljs .hljs-type,
  .code-perfect-container pre.hljs code.hljs .hljs-title.class_ {
    color: var(--blue-1) !important;
  }

  .code-perfect-container pre.hljs code.hljs .hljs-variable,
  .code-perfect-container pre.hljs code.hljs .hljs-params {
    color: var(--light-4) !important;
  }

  .code-perfect-container pre.hljs code.hljs .hljs-meta {
    color: var(--teal-1) !important;
  }

  .code-perfect-container pre.hljs code.hljs .hljs-comment {
    color: var(--dark-1) !important;
  }

  /* Adjust line number position and set color */ 
  .code-perfect-container pre.hljs ul.hljs-line-num {
    padding: 1em 8px !important;
    border-right: none !important;
  }

  .code-perfect-container pre.hljs ul.hljs-line-num li {
    color: var(--dark-2) !important;
  }

  /* Github Alerts (https://discourse.joplinapp.org/t/plugin-github-alerts/42902) */

  /* Apply colors to callouts */
  .markdown-alert.markdown-alert-warning {
    border-left-color: var(--yellow-1) !important;
    > .markdown-alert-title {
      color: var(--yellow-1) !important;
    }
  }

  .markdown-alert.markdown-alert-important {
    border-left-color: var(--purple-1) !important;
    > .markdown-alert-title {
      color: var(--purple-1) !important;
    }
  }

  .markdown-alert.markdown-alert-tip {
    border-left-color: var(--green-1) !important;
    > .markdown-alert-title {
      color: var(--green-1) !important;
    }
  }

  .markdown-alert.markdown-alert-note {
    border-left-color: var(--blue-1) !important;
    > .markdown-alert-title {
      color: var(--blue-1) !important;
    }
  }

  .markdown-alert.markdown-alert-caution {
    border-left-color: var(--red-1) !important;
    > .markdown-alert-title {
      color: var(--red-1) !important;
    }
  }
  
  /*********************************************************************************
  * PRINT VERSION
  *********************************************************************************/
  
  @media print {
  
  #rendered-md, body, th, td {
    /* background-color: var(--white) !important; */
    background-color: var(--light-1) !important;
    font-family: var(--font-family) !important;
  }

  p, ul, ol, li {
    color: var(--dark-3) !important;
  }
  
  strong {
    color: var(--dark-3) !important;
    }
  
  th {
    border: 1px solid var(--light-3) !important;
    color: var(--dark-2) !important;
    border-bottom: 1px solid var(--light-3) !important;
  }
  
  td {
    border: 1px solid var(--light-3) !important;
    color: var(--dark-2) !important;
    border-bottom: 1px solid var(--light-3) !important;
  }
  
  h1 {
    border-bottom: 1px solid var(--light-3) !important;
    color: var(--dark-3) !important;
    font-weight: var(--font-weight-bold) !important;
  }

  h2 {
    border-bottom: 1px solid var(--light-2) !important;
    color: var(--dark-3) !important;
  }

  h2, h3, h4, h5, h6 {
    border-bottom: 0 !important;
    font-weight: var(--font-weight-bold) !important;
    color: var(--dark-3) !important;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--light-2) !important;
    margin: 2.5em 0 !important;
  }

  a {
    color: var(--blue-1) !important;
    text-decoration: underline !important;
  }

  pre, .hljs {
    background: var(--light-2) !important;
    color: var(--dark-2) !important;
    font-family: var(--font-family-mono) !important;
    padding: 10px !important;
    font-size: 14px !important;
    overflow: scroll !important;
  }
  
  blockquote {
    background-color: var(--light-2) !important;
    padding: 10px !important;
    color: var(--dark-2) !important;
    font-size: 14px !important;
    font-style: italic !important;
    border: 0 !important;
    border-left: 5px solid var(--dark-3) !important;
  }

  .inline-code {
    background-color: var(--light-2) !important;
    border: none !important;
    border-radius: 4px;
    color: var(--dark-3) !important;
    font-family: var(--font-family-mono) !important;
    font-size: .95em !important;
    padding: .16em .4em .2em !important;
  }

  .code-perfect-container pre.hljs code.hljs,
  .code-perfect-container pre.hljs ul.hljs-line-num {
    background: var(--light-2) !important;
  }

  .code-perfect-container pre.hljs ul.hljs-line-num li {
    color: var(--dark-1) !important;
  }
}