// _components.mixins.modals

@use "sass:map";

@use '../theme' as thm;
@use '../fonts' as fnt;
@use '../colors' as clr;
@use '../spacing' as sp;
@use '../borders' as brd;
@use 'components.buttons' as btn;

@mixin positionModalTitle() {
    font-weight: fnt.$font-weight-bold !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    top: 10.5% !important;
    margin: 0 !important;
    margin-bottom: 0 !important;
}

@mixin headerBar() {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
    order: -1 !important;
    padding: sp.$spacing-sm !important;
    margin-top: 0 !important;
    background: map.get(map.get(clr.$colors, thm.$theme), headerbar-bg-color) !important;
    border-bottom: 1px solid map.get(map.get(clr.$colors, thm.$theme), headerbar-border-color) !important;
    border-top-left-radius: brd.$window-radius !important;
    border-top-right-radius: brd.$window-radius !important;
}