// _components.mixins.inputs.scss

@use "sass:map";

@use "../theme" as thm;
@use "../fonts" as fnt;
@use "../colors" as clr;
@use "components.buttons" as btn;


@mixin input {
    background: transparent !important;
    border: none !important;
    max-height: none !important;
    height: 100% !important;
    font-size: fnt.$font-size !important;
    font-weight: fnt.$font-weight !important;
    color: map.get(map.get(clr.$colors, thm.$theme), fg-3) !important;
    padding: 0 !important;
}

@mixin modalInput {
    @include input;
    background: clr.$headerbar-bg-color !important;
    border: 3px solid clr.$headerbar-bg-color !important;
    border-radius: btn.$btn-radius !important;
    box-sizing: border-box !important;
    height: btn.$btn-size !important;
    min-height: btn.$btn-size-toolbar !important;
    padding: 0 6px !important;
}