// _components.mixins.buttons.scss

@use "sass:map";

@use "../theme" as thm;
@use "../fonts" as fnt;
@use "../colors" as clr;
@use "../spacing" as sp;
@use "components.buttons" as btn;

@mixin buttonDefault() {
    color: map.get(map.get(clr.$colors, thm.$theme), fg-1);
    background: btn.$btn-bg !important;
    border: none !important;
    border-radius: btn.$btn-radius !important;
    font-weight: fnt.$font-weight-boldest !important;
    min: {
        height: btn.$btn-size !important;
        width: btn.$btn-size !important;
    }
    padding: 0 sp.$spacing-lg !important;
    transition: all ease-in-out 125ms !important;

    span {
        color: map.get(map.get(clr.$colors, thm.$theme), fg-1) !important;
    }

    &:hover {
        background: btn.$btn-bg-light !important;
        opacity: 1 !important;
    }
}

@mixin buttonPrimary() {
    @include buttonDefault();
    @if (thm.$theme == "dark") {
        color: map.get(map.get(clr.$colors, thm.$theme), fg-1);
    } @else {
        color: map.get(map.get(clr.$colors, thm.$theme), bg-1);
    }
    background: btn.$btn-bg-primary !important;

    &:hover {
        background: btn.$btn-bg-primary-light !important;
    }
}

@mixin buttonToolbar {
    border: none !important;
    border-radius: btn.$btn-radius-sm !important;
    height: btn.$btn-size-toolbar !important;
    min-width: btn.$btn-size-toolbar !important;
    opacity: 1 !important;
    padding: 0 !important;
    transition: all ease-in-out 125ms !important;

    span {
        color: map.get(map.get(clr.$colors, thm.$theme), icon-color) !important;
    }

    &.disabled {
        span, i {
        color: map.get(map.get(clr.$colors, thm.$theme), icon-color) !important;
        opacity: .4 !important;
        }

        &:hover {
        background: transparent !important;
        }
    }

    &:hover {
        background: btn.$btn-toolbar-bg-light !important;
    }
}

@mixin buttonModal() {
    @include buttonToolbar;
    background-color: map.get(map.get(clr.$colors, thm.$theme), modal-row-bg-color) !important;

    &:hover {
        background-color: btn.$btn-toolbar-bg-light !important;
    }
}

@mixin buttonTag() {
    padding: 0 sp.$spacing-md !important;
    border-radius: btn.$btn-radius-lg !important;
    height: btn.$btn-size-toolbar !important;
    min-width: btn.$btn-size-toolbar !important;
    background: btn.$btn-toolbar-bg !important;

    &:hover {
      background: btn.$btn-toolbar-bg-light !important;
    }
}